.wp-block-table {
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 26px;
	hr {
		border-top-color: $darkblue;
	}
	tr:first-child {
		background: $lightgrey;
		td {
			font-weight: bold;
		}
	}
	tr {
		td {
			border-bottom: 2px solid $lightgrey;
			padding: 8px 8px 6px;
		}
	}
}