.mod-link {
	margin-bottom: 30px;
	h5 {
		margin-bottom: 4px;
	}
	img {
		width: 66px !important;
		height: auto;
		&.boek {
			width: 120px !important;
		}
	}
}
.bg-darkgrey {
	.mod-link p {
		color: $dark;
	}
}