.mod-logoslider {
	a {
		img {
			width: 70%;
			opacity: 0.5;
			margin: 0 auto 30px;
			display: block;
			height: auto;			
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
			filter: grayscale(100%);
			transition: 0.2s ease-in;
		}	
		&:hover {
			img {
				opacity: 1;
				-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
				filter: grayscale(0);
			}
		}	
	}
}