{#
/**
 * Block Name: Break
 *
 * This is the template that displays the example block.
 */
#}

<br>
<br>

{% if is_preview %}
    <p>--  Ruimte tussen onderdelen --</p>
{% endif %}

<br>
<br>


<style type="text/css">
  #block-{{ block.id }} {
    
  }
</style>