{#
/**
 * Block Name: Lead
 *
 * This is the template that displays the example block.
 */
#}

<div id="block-{{ block.id }}" class="mod-lead gb-lead">
	<span class="lead">
		{{ fields.lead }}
	</span>
</div>