<section class="section{{ sectionno }} mod-foto bg-standaard full">
	<img src="{{ Image(item.afbeelding).src|resize(1920) }})" srcset="{{ Image(item.afbeelding).srcset }}" alt="{{ Image(item.afbeelding).alt }})">
</section>