<section class="section{{ sectionno }} mod-foto bg-standaard full">
	<img src="{{ Image(item.afbeelding).src }}" srcset="{{ Image(item.afbeelding).srcset }}" alt="{{ Image(item.afbeelding).alt }})" {% if item.parallax %}class="js-parallax"{% else %}data-aos="fade-in"{% endif %} >
</section>