<section class="section{{ sectionno }} mod-lead bg-{{ item.achtergrond }}">
  <div class="container">
	  <div class="row">
			<div class="col-lg-8 col-lg-8">
	    	{{ item.tekst }}
			</div>
	  	<div class="col-lg-4">
	  		{% include 'partials/author.twig' %}
	  	</div>
		</div>
  </div>
</section>