<a href="{{ item.link }}" class="tease square card {% if loop.index is odd %} odd {% endif %}">
	<div class="img-container">
		<div class="card-img-top" style="background-image: url({{ Image(item.thumbnail).src|resize('768') }})">
		</div>
		<h5>{{ item.title }} <br> <i class="fas fa-arrow-right"></i></h5>
		
	</div>
</a>