body #daextlwcnf-cookie-notice-message {
	font-size: 22px !important;
	line-height: 26px !important;
	font-weight: bold !important;
	color: $dark !important;
	margin-top: 7px !important;
	margin-bottom: 0 !important;
	font-family: 'Titillium Web';
}