.mod-blok {
	.nf-form-cont {
	  .label-above .nf-field-element, .label-below .nf-field-element {
			font-size: inherit;
		}
		.nf-error-msg {
	    color: #fff;
	  }
	}
}
.nf-form-content {
	.nf-field-label label {
		font-family: "Titillium Web";
	}
	.nf-field-description {
		font-size: 18px;
    margin: 0 0 15px;
	}
}

.nf-form-cont {
	h3 {
		margin: 15px 0;
	}
	p {
		margin-bottom: 15px;	
	}
	p:last-child {
		margin-bottom: 0
	}
	.hr-container {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.submit-container {
		margin-top: 30px;
	}
	.nf-before-form-content {
		margin-bottom: 20px;
	}
	.nf-form-content {
		padding: 0;
		select.ninja-forms-field {
			background-image: url(../images/chevrondown.png);
			background-repeat: no-repeat;
			background-position: right 15px center;
			background-size: 20px;
		}
		.list-select-wrap .nf-field-element>div {	
			-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    background-color: $lightgrey;
	    padding: 10px 15px;
	    border: 2px solid $lightgrey;
	    border-radius: 6px;
	    font-size: 16px;
	    color: $darkblue;
	    transition: 0.2s ease-in-out;
		}
	  .label-above .nf-field-element, .label-below .nf-field-element {
	    font-family: inherit;
	    font-size: 20px;
	    line-height: 26px;
	  }
	  .nf-error-msg {
	    color: $darkgrey;
	  }
	  .ninja-forms-req-symbol {

	  }
	  input[type=button] {
		  cursor: pointer;
	  }
	  h5 {
	    margin-bottom: -5px;
	    font-size: 18px;
	    line-height: 24px;
	    margin-top: 5px;
	  }
	  .nf-field-label {
	    margin-bottom: 4px;
	    label {
	      display: block;
	      width: 100%;
	    }
	  }
	  .label-right .checkbox-wrap .nf-field-label {
		  display: block;
	    width: 100%;
	  }
	  .nf-field-container {
	    margin-bottom: 15px;
	  }
	  .nf-error .ninja-forms-field {
		  border: 2px solid #fff;
	  }
	  textarea, select, input:not([type=checkbox]):not([type=radio]):not([type=button]) {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    background: $lightgrey;
	    padding: 10px 20px;
	    border: 2px solid $lightgrey;
	    border-radius: 6px;
	    font-size: 16px;
	    color: $darkblue;
	    transition: 0.2s ease-in-out;
	    &:focus {
	      border-color: $blue;
	      background: $lightgrey;
	      color: $darkblue;
	    }
	  }
	
	  .nf-field-element textarea {
	    height: 140px;
	  }
	  .nf-response-msg {
		  text-align: center;
	  }
	}
}
#footer.footer .nf-form-cont {
	textarea, select, input:not([type=checkbox]):not([type=radio]):not([type=button]) {
    background: $nightblue;
    border: 2px solid $nightblue;
    color: #fff;
    &:focus {
      border-color: $blue;
      background: #B6C4CD;
      color: $darkblue;
    }
  }
  .nf-error-msg {
    color: #fff;
  }
}

.list-checkbox-wrap .nf-field-element li label, .list-radio-wrap .nf-field-element li label {
  font-size: 16px;
  line-height: 24px;
}


.list-checkbox-wrap .nf-field-element li input, .list-radio-wrap .nf-field-element li input {
  margin-top: 0.35em;
}

@include media-breakpoint-up(md) {
  .nf-form-cont {
    .nf-field-container {
      margin-bottom: 20px;
    }
    h5 {
     font-size: 20px;
     line-height: 26px;
    }
  }
}