.tease.tease-klanten {
	margin-bottom: 30px;
	display: block;
	img {
		width: 80%;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
		transition: 0.2s ease-in-out;
	}
	i {
		transform: translateX(0);
		transition: 0.2s ease-in-out;
	}
	&:hover {
		img {
			-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
			filter: grayscale(0%);
		}
		i {
			transform: translateX(10px);
		}
	}
}