
$lightgrey: #E6E9EC;
$lightblue: #E4F7FF;

$darkblue: #000319;
$blue: #007BFB;
$nightblue: #24294B;
$red: #FF0000;

// Theme colors

$lightgrey: #E4E9EB;
$grey: #626B6F;
$darkgrey: #3B4043;
$chalkgrey: #2C2C2C;

$blue: #00ACFF;
$blueaccent: #007EBA;

$lightgreen: #ADE9AD;
$freshgreen: #00B901;
$green: #1B8B82;
$greenaccent: #1B8B82;

$ease : cubic-bezier(0.16, 1, 0.3, 1);